{{ attach_library('lightup/actions') }}
{{ attach_library('lightup/bootstrap') }}
{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}

<script>
var action_title = "{{ node.title.value }}";
var action_nid = {{ node.id }};
var loc = { {% if logged_in %}
  "lat": {{ location['lat'] }},
  "lng": {{ location['lng'] }}{% endif %}
};
var city_loc = { {% if logged_in %}
  "lat": {{ city['lat'] }},
  "lng": {{ city['lng'] }}{% endif %}
};
var user = "{% if logged_in %}{{ user }}{% endif %}";

var logged_in = {% if logged_in %}true{% else %}false{% endif %};
</script>

<article {{ attributes.addClass(classes) }}>

  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
  <header>
    {# note the title is only printed if this is a list of content, not single content #}
    {# see page.html.twig for where the title is printed for single peice of content #}
    {{ title_prefix }}
    {% if not page and label %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}">{{ label }}</a>
    </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
    <div class="submitted">
      {{ author_picture }}
      {{ submitted }}
    </div>
    {% endif %}

    {% if unpublished %}
    <p class="unpublished">{{ 'Unpublished'|t }}</p>
    {% endif %}
  </header>
  {% endif %}

  <div class="content">
    {#the content variable contains all the content, we want certain fields#}
    {{ content|without('comment', 'links', 'field_date', 'field_expiration_date', 'body', 'field_image', 'field_map') }}
    {#below are the fields on this content, except the title#}
    <div id="take-action" class="map-overlay">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div>
        <h1>{{ label }}</h1>
        <h4>Six calls can change the world.</h4>
      </div>
      <button type="button" class="btn btn-primary btn-lg take-action">
        LIGHT UP THE MAP!
      </button>
    </div>
    <div id="join-and-share" class="map-overlay row">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
      {% if logged_in %}
        <div class="col-sm-12">
      {% else %}
        <div id="join" class="col-sm-6">
          <h3>Join Us!</h3>
          <p>Create an account to save time selecting your representatives and be able to see your past actions.</p>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registerModal">
            Register
          </button>
        </div>
        <div class="col-sm-6">
      {% endif %}
        <h3>Share!</h3>
        <p>Are there places that aren't lit up yet? Share this action with friends and family! Let's light up the whole state!</p>
        {{ block_socialsharing_output }}
      </div>
    </div>
    <div id="share-action">
    </div>
    <div class="map-container"><div id="map" class="map--front"></div></div>
    {#
    {{ content.field_map }}
    {{ content.field_image }}
    {{ content.field_date }}
    {{ content.body }}
    #}
  </div>

<!-- /content -->

  {% if content.links.terms %}
  <div class="terms">
    {{ content.links.terms }}
  </div>
<!-- /terms -->
  {% endif %}

  {% if content.links %}
  <div class="links">
    {{ content.links }}
  </div>
<!-- /links -->
  {% endif %}

  {{ content.comment }}
</article>
<!-- /article #node -->

<!-- Find Your Rep Modal -->
<div class="modal fade" id="findYourRepModal" tabindex="-1" role="dialog" aria-labelledby="findYourRepLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="findYourRepLabel">
            <img src="/themes/custom/lightup/images/lightupthemap_logo.png">Find Your Representatives</h4>
      </div>
      <div class="modal-body">
        <form name="address">
          <div class="form-group">
            <label for="street">Street</label>
            <input type="type" class="form-control" id="street" placeholder="Not required but more accurate if included">
          </div>
          <div class="city-state">
            <div class="form-group city">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="City" required>
            </div>
            <div class="form-group state">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" value="MA" maxlength="2" required>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">FIND YOUR REPS</button>
        </form>
      </div>
      <div class="modal-footer">
        <b>Find Your Rep</b> <i class="fa fa-arrow-right"></i> Make a Call <i class="fa fa-arrow-right"></i> Light up the Map <i class="fa fa-arrow-right"></i> Share
      </div>
    </div>
  </div>
</div>
<!-- Make a Call Modal -->
<div class="modal fade" id="makeACallModal" tabindex="-1" role="dialog" aria-labelledby="MakeACallLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="MakeACallLabel"><img src="/themes/custom/lightup/images/lightupthemap_logo.png">Take Action!</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 action-reps">
            <div id="reps"></div>
          </div>
          <div class="col-md-6 action-script">
            {{ content.body }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a id="find-your-rep">Find Your Rep</a> <i class="fa fa-arrow-right"></i> <b>Make a Call</b> <i class="fa fa-arrow-right"></i> Light up the Map <i class="fa fa-arrow-right"></i> Share
      </div>
    </div>
  </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="registerLabel"><img src="/themes/custom/lightup/images/lightupthemap_logo.png">Create an Account</h4>
      </div>
      <div class="modal-body">
        <form name="register">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Your name"/>
            <input type="email" name="email" class="form-control" placeholder="Email"/>
            <input type="password" name="password" class="form-control" placeholder="Password"/>
          </div>
          <button type="submit" class="btn btn-primary register">Register</button>
        </form>
      </div>
      <div class="modal-footer">
        Find Your Rep <i class="fa fa-arrow-right"></i> Make a Call <i class="fa fa-arrow-right"></i> Light Up the Map <i class="fa fa-arrow-right"></i> <b>Share</b>
      </div>
    </div>
  </div>
</div>
<!-- Account Created Modal -->
<div class="modal fade" id="accountCreatedModal" tabindex="-1" role="dialog" aria-labelledby="accountCreatedLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="accountCreatedLabel"><img src="/themes/custom/lightup/images/lightupthemap_logo.png">Your account:</h4>
      </div>
      <div class="modal-body">
        <p>Your account was successfully registered. Next time you take an action, we will use this location to determine your legislators and post your light!</p>
        <p>If you would like to change your address or see the actions you've taken, you can use the <a href="/user" title="My Account">My Account</a> link anytime.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
